<div class="w-full px-8">
  <app-cockpit
    (serverData)="onCreatingServer($event)"
    (blueprintData)="onCreatingBlueprint($event)"
  />
  <hr class="my-8" />
  <section class="flex flex-col gap-4">
    <h2
      class="text-slate-900 block font-extrabold text-2xl sm:text-3xl lg:text-4xl text-center tracking-tight"
    >
      Servers and Blueprints
    </h2>
    <app-server-element *ngFor="let server of servers" [server]="server" >
      <p class="text-xs" #content>hi</p>
    </app-server-element>
  </section>
</div>
